<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<h1> Log In </h1>
<%= form_tag sessions_path do %>
  <div> 
    <%= label_tag :email, "Email" %>
    <%= email_field_tag :email, "John@example.com" %><br>
    <%= label_tag :password , "Password" %>
    <%= password_field_tag :password, "password" %>
    <%= submit_tag "Log In" %>
  </div>
<% end %>

