<%= form_for  @consumer do |f| %>
  <% if @consumer.errors.any? %>
    <div>
      <%= pluralize(@consumer.errors.count, "error") %> The Account Can not be created. Please Try again. 
      <ul>
        <%@consumer.errors.full_messages.each do |msg| %> 
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="corp_reg_form">
  <div class="form-group row">
    <%= f.label :name, "Username", :class => "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, placeholder: "Username", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, "Email:", :class => "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.email_field :email, placeholder: "John@example.com", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password, "Password:", :class => "col-sm-4 form-control-label"  %>
    <div class="col-sm-8">
      <%= f.password_field :password, placeholder: "Password", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password_confirmation, "Confirm Password:", :class => "col-sm-4 form-control-label"  %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", :class => "form-control" %>
    </div>
  </div>
  <div>
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>