<%= form_for  @consumer do |f| %>
  <% if @consumer.errors.any? %>
    <div>
      <%= pluralize(@consumer.errors.count, "error") %> The Account Can not be created. Please Try again. 
      <ul>
        <%@consumer.errors.full_messages.each do |msg| %> 
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div> 
    <%= f.label :name, "Username" %>
    <%= f.text_field :name, placeholder: "username" %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "John@example.com" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password" %>
  </div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "password" %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>