<%= form_for  @corporate do |f| %>
  <% if @corporate.errors.any? %>
    <div>
      <%= pluralize(@corporate.errors.count, "error") %> The Account Can not be created. Please Try again. 
      <ul>
        <%@corporate.errors.full_messages.each do |msg| %> 
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="corp_reg_form">
  <div class="form-group row">
    <%= f.label :name, "Company Name:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, placeholder: "Company name", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :address_1, "Address 1:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :address_1, placeholder: "Unit, Street", :class => "form-control" %>
    </div>
    <%= f.label :address_2, "Address 2:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :address_2, placeholder: "Unit, Street", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :city, "City:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :city, placeholder: "City", :class => "form-control" %>
    </div>
    <%= f.label :province, "Province:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-3">
      <%= f.select :province, options_for_select([['AB', 'AB'], ['BC', 'BC'], ['MB', 'MB'], ['NB', 'NB'], ['NL', 'NL'], ['NS', 'NS'], ['NT', 'NT'], ['NU', 'NU'], ['ON', 'ON'], ['PE', 'PE'], ['QC', 'QC'], ['SK', 'SK'], ['YT', 'YT']]), :class => "form-control"%>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :postal_code, "Postal Code:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :postal_code, placeholder: "V1V 1V1", :class => "form-control" %>
    </div>
    <%= f.label :country, "Country:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :country, placeholder: "Country", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row"> 
    <%= f.label :phone, "Contact:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone, placeholder: "123-222-2222", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :website_url, "Website:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-10">
      <%= f.url_field :website_url, placeholder: "http://wwww.example.com", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, "Email:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, placeholder: "John@example.com", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :business_number, "Business Number:", :class => "col-sm-2 form-control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :business_number, placeholder: "000000000", :class => "form-control" %>
    </div>
  </div> 
  <div class="form-group row">
    <%= f.label :password, "Password:", :class => "col-sm-2 form-control-label"  %>
    <div class="col-sm-10">
      <%= f.password_field :password, placeholder: "Password", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password_confirmation, "Confirm Password:", :class => "col-sm-2 form-control-label"  %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", :class => "form-control" %>
    </div>
  </div>
  <div>
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>

