<%= form_for @event, :html => {:multipart => true} do |f| %>
  <div>
    <%= f.label :name, "Title" %><br>
    <%= f.text_field :name, placeholder: "Title" %>
  </div>
  <div>
    <%= f.label :location %><br>
    <%= f.text_field :location, placeholder: "Location" %>
  </div>
  <div>
    <%= f.label :show_date, "Event Date" %>
    <%= f.date_field :show_date, ignore_time: true  %>
  </div>
  <div>
    <%= f.label :show_date, "Event Time" %>
    <%= f.time_field :show_date, ignore_date: true %>
  </div>
  <div>
    <%= f.label :duration, "Duration" %>
    <%= f.text_field :duration, placeholder: "duration" %>
  </div>
  <div> 
    <%= f.label :ticket_available, "Number Of Tickets Available" %>
    <%= f.number_field :ticket_available %> 
  </div> 
  <div>
    <%= f.label :image, "Image" %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :remote_image_url, "or image URL" %>
    <%= f.text_field :remote_image_url %>
  </div>
  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, placeholder: "description" %>
  </div>
  <div>
    <%= f.label :category_id, "Category" %>
    <%= f.select('category_id', @categories.collect{|r| [(r.name), r.id]}) %>
  </div>
 
  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>

<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div>
      <%= pluralize(@event.errors.count, "error") %> prevented this event from being submitted
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>