| <%= link_to " Back to event category", category_path(@event.category_id)%> |
<%= link_to " Home", events_path %>

<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>






<hr>
<% if current_user.my_event(@event) %>
 <p><%= @event.name %> (<%= link_to "edit", edit_category_event_path(@event.category_id,@event) %>, <%= link_to "delete", category_event_path(@event.category_id, @event), method: :delete,confirm: "You sure?" %>) </p>
 <% end %>
<%= image_tag @event.image_url(:thumb) if @event.image? %><br>
<%= @event.category_id %>
<p>Tickets available <%= @event.ticket_available %></p>
<div><span class="glyphicon glyphicon-time" aria-hidden="true"></span><%= formatted_date(@event.show_date) %> | <%= @event.duration %> minutes</div>
<p><%= @event.description %></p>
<hr>







<% if !current_user.my_event(@event) %>
<div id="transaction-window">
<%= form_tag({controller: "transactions", action: "create"}, method: "post") do %> 
  <article>
  <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <%= label_tag(:general_count,"General Admission") %>
    <%= select_tag('general_count', options_for_select((0..10).step(1))) %>
    <%= label_tag(:child_count,"Child Admission") %>
    <%= select_tag('child_count', options_for_select((0..10).step(1))) %>
    <%= hidden_field_tag('event_id', @event.id) %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Transaction Payment"
            data-locale="auto"></script>
  </article>
<% end %>
</div>
<% end %>

<br><br>


<div>
<%= social_share_button_tag("Click Here To Share ") %>
<div>


