<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>


<%= link_to "Back to all events", events_path %><br/>
<h2><%= @event.name %> (<%= link_to "edit", edit_event_path(@event) %>, <%= link_to "delete", event_path(@event), method: :delete, confirm: "You sure?" %>) | <%= @event.location %> </h2>
<%= image_tag @event.image_url(:thumb) if @event.image? %>
<h3><%= formatted_date(@event.show_date) %></h3>
<h4>Start Time <%= @event.start_time %> | <%= @event.duration %> minutes</h4>
<p><%= @event.description %></p>
