<head>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?"></script> 
<script type="text/javascript"> 
  var geocoder;

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} 
//Get the latitude and the longitude;
function successFunction(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    codeLatLng(lat, lng)
}

function errorFunction(){
    console.log("Geocoder failed");
}

  function initialize() {
    geocoder = new google.maps.Geocoder();

    //If you are fancy use the geocoder to select city
    $("#city-select > [data-filter-value='.Vancouver']").attr('selected', 'selected');
    setGridFilter();
  }

  function codeLatLng(lat, lng) {

    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
         //using formatted address to get city name
         var address = results[0].formatted_address.split(',')
         var current_city = address[1]
         // spoofing location to test filter
         //var city = "Vancouver"
         console.log(current_city)

        } else {
          console.log("No results found");
        }
      } else {
        console.log("Geocoder failed due to: " + status);
      }
    });
  }
</script> 
</head> 
<body onload="initialize()">
<div class="content">
  <div class="img_base">
    <div class="header"  style="background-image: url(<%=@category.image %>)">
    </div>
    <div class="event_header_text">
      <h1><%= @category.name %></h1>
    </div>
  </div>


  <div id="categories-page">
  

    <div class="filters">
      <label>Location:  </label>
      <select id="city-select" class="option-set clearfix filter-selector" data-filter-group="location">
        <option data-filter-value="" class="selected">show all</option>
        <%= @category.events.pluck(:location).uniq.each do |location| %>
          <option value="#filter-location-<%= location %>" data-filter-value=".<%= location %>"> <%= location %> </option>
        <% end %>
      </select>

      <label>Happening In:  </label>
      <select id='time-select' class="filter option-set clearfix filter-selector" data-filter-group="time">
        <option value="*" data-filter-value="" class="selected">show all</option>
        <option value="#filter-time-twodays" data-filter-value=".twodays">under 48 hrs</option>
        <option value="#filter-time-oneday" data-filter-value=".oneday">under 24 hrs</option>
        <option value="#filter-time-twelvehours" data-filter-value=".twelvehours">under 12 hrs</option>
        <option value="#filter-time-sixhours" data-filter-value=".sixhours">under 6 hrs</option>
      </select>
    </div>

    <div class="grid"> 
     <% @category.events.future.each do |event| %>
        <div class="element-item <%= event.location %> <%= event.tags %>" data-category="<%= event.location %>">
          
            <div class="eventcard_img_base">
              <%= link_to event_path(event.id) do %>
              <div class="card eventcard_overlay"  style="background-image: url(<%=event.image %>)">
              </div>
              <% end %>
            </div>
            <div class="eventcard_text">
              <h4>Event Title: <%= link_to event.name, event_path(event.id) %> | Location: <%= event.location %></h4>
              <h4><%= formatted_date(event.show_date) %> | <%= event.duration %> mins</h4>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</body>