<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
<%= link_to "Edit Category", edit_category_path(@category) %>

<select class="filters-select">
  <option value="*">show all</option>
  <%= @category.events.pluck(:location).uniq.each do |location| %>
    <option value=".loc_<%= location %>"> <%= location %> </option>
  <% end %>
</select>

<div class="grid"> 
 <% @category.events.each do |event| %>
    <div class="element-item <%= event.location %>">
      <%= link_to event_path(event.id) do %>
        <%= image_tag event.image_url(:thumb) if event.image? %>
      <% end %>
        <!-- <h2>Event Title: <%# link_to event.name, event_path(event.id) %> | Location: <%# event.location %></h2> -->
    </div>
  <% end %>
</div>


