

<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
<%= link_to "Edit Category", edit_category_path(@category) %>

<select class="filters-select">
  <option value="*">show all</option>
  <%= @category.events.pluck(:location).uniq.each do |location| %>
    <option value=".<%= location %>"> <%= location %> </option>
  <% end %>
</select>
<select class="filters-select">
  <option value="*">show all</option>
  <option value=".twodays">48 hrs</option>
  <option value=".oneday">24 hrs</option>
  <option value=".twelvehours">12 hrs</option>
  <option value=".sixhours">6 hrs</option>
</select>

<div class="grid"> 
 <% @category.events.future.each do |event| %>
    <div class="element-item <%= event.location %> <%= event.within_two_days ? 'twodays' : ''%>" data-category="<%= event.location %>">
      <%= link_to event_path(event.id) do %>
        <%= image_tag event.image_url(:thumb) if event.image? %>
      <% end %>
        <h4>Event Title: <%= link_to event.name, event_path(event.id) %> | Location: <%= event.location %></h4>
    </div>
  <% end %>
</div>


