<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
<%= link_to "Edit Category", edit_category_path(@category) %>

<div> 
 <% @category.events.each do |event| %>
    <%= image_tag event.image_url(:thumb) if event.image? %>
  
    
    <h2>Event Title: <%= link_to event.name, event_path(event.id) %> | Location: <%= event.location %></h2>
    <h2><%= @category.name %></h2>
    <h3>Description: <%= event.description %></h3>
    <h4><%= formatted_date(event.show_date) %> | <%= event.duration %> 
  <% end %>
</div>


