<!DOCTYPE html>
<html>
<head>
  <title>PlansForTonightRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% flash.each do |key, value| %>
 <%= content_tag(:div, value) %>
<% end %>
<% if current_user %>
  Signed in as  <%= current_user.name %><%= link_to "Log Out", session_path("current"), method: :delete %> 
<% end %> 
  
<%= yield %>

</body>
</html>
